@import url('https://unpkg.com/primer/build/build.css');
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700,900');

body {
  font-family: 'Rubik', sans-serif;
  background-color: #263549!important;
}

.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  position: relative;

  .extra-margin {
    margin-bottom: 20px !important;
  }
}

.avatar-contianer {
  text-align: center;
}

.StyledOcticon-sc-7ly0uy-0 {
  vertical-align: -.125em !important;
}

.leftLayout {
  position: fixed;
  height: 100vh;
}

.vertical-timeline-element-date {
  color: #feba00 !important;
  opacity: 1 !important;
}

.text-orange {
  color: #feba00 !important;
}

.text-dark-blue {
  color: #263549 !important;
}

.custom-icon {
  background-size: cover !important;
  width: 60px;
  height: 60px;
  border-radius: 30px;

  @media (max-width: 1169px) {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
}

.vertical-timeline-element-content-arrow {
  border-right: 7px solid #FFF !important;
}

.vertical-timeline {
  width: 100% !important;
  max-width: none !important;
}

.parallax {
  /* The image used */
  /* background-image: url("img_parallax.jpg"); */

  /* Set a specific height */
  height: 300px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  color: #FFF;
  align-items: center;

  @media(max-width: 767px) {
    background-image: url("https://images.pexels.com/photos/160107/pexels-photo-160107.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  }
}